.header-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.left-header-container,
.right-header-container {
	display: flex;
	flex-direction: column;
}

.left-header-container {
	gap: 20px;
}
