*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}
ul {
	list-style-type: none;
}

@font-face {
	font-family: "Oswald";
	src: url("./assets/Oswald-VariableFont_wght.ttf");
	font-weight: 100 900;
}

@font-face {
	font-family: "Montserrat";
	src: url("./assets/Montserrat-VariableFont_wght.ttf");
	font-weight: 100 900;
}

:root {
	--primary-bg-color: #0b132b;
	--card-bg: #1c2541;
	--border-color: #3a506b;
	--accent-color: #48cae4;
	--primary-text-color: #ffffff;
	--secondary-text-color: #9db2ce;
}

body {
	background-color: var(--primary-bg-color);
	color: var(--primary-text-color);
	font-family: "Montserrat", Helvetica, sans-serif;
}
